body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  color: #666;
  background-color: #f8f8f8;
}
.title {
  float: left;
  width: 160px;
  clear: left;
}
.submit {
  width: 310px;
  text-align: right;
  margin-top: 10px;
}
legend {
  font-style: italic;
  color: #6666;
}
fieldset {
  width: 310px;
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  background-color: #ffff;
  line-height: 1.6em;
}
li {
  line-height: 1.6em;
}
table {
  border-spacing: 0px;
}

th,
td {
  padding: 5px 30px 5px 10px;
  border-spacing: 0px;
  font-size: 90%;
  margin: 0px;
}

th,
td {
  text-align: left;
  background-color: #e0e9fe;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
}
tr .head th {
  color: #fff;
  background-color: #90b4d6;
  letter-spacing: 0.15em;
  text-shadow: -1px -1px 1px #6666;
  text-align: center;
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90b4d6;
}
td {
  text-shadow: 1px 1px 1px #fff;
}
tr.even td,
tr.even th {
  background-color: #e8eff5;
}

tr.head th:first-child {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}
tr.head th:last-child {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
